h1, h2, ul, li {
	margin: 0;
	padding: 0;
}

h2 {
	margin-bottom: 5px;
	margin-top: 5px;
}

.double_line {
	border-top: 3px double #8c8b8b;
}

ul,li {
	font-family: Arial;
}

i {
	width: 4mm;
	margin-right: 1mm;
}

ul.basic_info li {
	display: inline;
	line-height: 6mm;
}

div.social_information ul li {
	font-size: 3.7mm;
	margin: 1.2mm auto;
	line-height: 5.5mm;
}

#language ul, #research ul, #certificate ul {
	margin-left: 4mm;
}

#summary, #education, #work-experience, #skills, #language, #project, #certificate, #research {
	margin-top: 3mm;
}

.information {
	margin: 0;
	padding: 0;
	height: 35mm;
}

.cv_name {
	font-family: Georgia, sans-serif;
	font-size: 12mm;
	margin-top: 0;
	line-height: 12mm;
}

.cv_title {
	font-family: Palatino, serif;
	font-size: 5mm;
}

.basic_information {
	float: left;
	width: 60%;
}

.social_information {
	float: right;
}

.item {
	font-family: Arial Black;
	font-size: 5.5mm;
	line-height: 5mm;
	margin-left: 3mm;
	display: inline;
}

span {
	line-height: 7mm;
}

.arial-black {
	font-family: Arial Black;
}

.trebuchet {
	font-family: Trebuchet MS;
}

.arial-rounded {
	font-family: Arial Rounded MT Bold;
}
.trebuchet, .arial {
	margin-left: 3mm;
}

.arial, .degree {
	font-family: Arial;
}

.edu-fromto {
	font-family: Trebuchet MS;
	float: right;
	line-height: 21mm;
	margin: 0 auto;
	padding: 0 auto;
	width: 20%;
}

.work-fromto {
	font-family: Trebuchet MS;
	float: right;
	line-height: 35mm;
	margin: 0 auto;
	padding: 0 auto;
	width: 20%;
}

.text-center {
	text-align: center;
}

.pull-right {
	text-align: right;
}

.pull-left {
	text-align: left;
}
