---
layout: null
permalink: /
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ site.data.my_information.first_name }} {{ site.data.my_information.last_name }} | CV</title>

  <link rel="shortcut icon" href="/img/favicon.ico">

  <!-- Normalize or reset CSS with your favorite library -->
  <link rel="stylesheet" href="/css/normalize-3.0.3.css">

  <!-- Load paper.css for happy printing -->
  <link rel="stylesheet" href="/css/paper.css">

  <!-- Load font-awesome.css for icons -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <!-- Load my custon.css -->
  <link rel="stylesheet" href="/css/custom.css">

  <!-- SRC google fonts -->
   <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700" rel="stylesheet">

  <!-- Set page size here: A5, A4 or A3 -->
  <!-- Set also "landscape" if you need -->
  <style>@page { size: A4 }</style>
</head>

<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->
<body class="A4">

  <!-- Each sheet element should have the class "sheet" -->
  <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
  <section class="sheet padding-20mm">

    <!-- Write HTML just like a web page -->
    <article>
      <div class="information">
        <div class="basic_information">
          <h1 class="cv_name">{{ site.data.my_information.first_name }} {{ site.data.my_information.last_name }}</h1>
          <h2 class="cv_title"  >{{ site.data.my_information.job_title }}</h2>
          <ul class="basic_info">
            <li>&bull;&emsp;<strong>Age</strong>: {{ site.data.my_information.age }}&emsp;</li>
           <!--SRC <li>&bull;&emsp;Gender: {{ site.data.my_information.gender }}&emsp;</li><br> -->
            <li>&bull;&emsp;<strong>Nationality</strong>: {{ site.data.my_information.nationality }}&emsp;</li><br>
            <li>&bull;&emsp;<strong>Degree</strong>: {{ site.data.my_information.degree }}&emsp;</li>
          </ul>
        </div>
        <div class="social_information">
          <ul style="list-style: none;float: left;">
            <li><i class="fa fa-github"></i></li>
            <li><i class="fa fa-map-marker"></i></li>
            <li><i class="fa fa-envelope"></i></li>
            <!--<li><i class="fa fa-phone"></i></li>-->
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-globe"></i></li>
          </ul>
          <ul style="list-style: none;float: right;">
            <li>{{ site.data.my_information.github_username }}</li>
            <li>{{ site.data.my_information.address }}</li>
            <li>{{ site.data.my_information.email }}</li>
            <li>{{ site.data.my_information.twitter }}</li>
            <li>{{ site.data.my_information.website }}</li>
          </ul>
        </div>
      </div>

      <div id="summary" style="padding-top: 10px;">
        <i class="fa fa-info-circle fa-lg"></i> <p class="item">Summary</p>
        <hr>
        <span style="line-height: 5.3mm; font-size: 4mm; font-family: Roboto, sans-serif;">{{ site.data.my_summary.summary }}</span>
      </div>

      <div id="language" style="display: inline-block;width: 100%; padding-top:15px;">
        <i class="fa fa-commenting fa-lg"></i> <p class="item">Languages</p>
        <hr>
        {% for lang in site.data.my_language %}
        <div style="width: 50%;float: left;"><span class="arial-rounded"><strong>{{ lang.language }}</strong></span><span class="trebuchet">{{ lang.level }}</span></div>
        {% endfor %}
      </div>

      <div id="work-experience" style="padding-top: 15px;">
        <i class="fa fa-users fa-lg"></i> <p class="item">Work Experience</p>
        <hr>
        {% for work in site.data.my_work %}
	{% if work.project %}
        <div style="height: 24mm;">
        <div style="float: left;height: 24mm;width: 98%;">
	{% else %}
        <div style="height: 18mm;">
        <div style="float: left;height: 18mm;width: 98%;">
	{% endif %}
	   <ul class="cv_item_list">
            <li>&bull;&emsp;<strong>{{ work.fromto}}</strong>&emsp;</li>
            <li>&emsp;<strong>{{ work.title }}</strong>&emsp;</li><br>
            <li>&emsp;&emsp;&emsp;{{ work.company }} ({{ work.location}})&emsp;</li><br>
            <li>&emsp;&emsp;&emsp;{{ work.desc }}</li><br>
	{% if work.project %}
            <li>&emsp;&emsp;&emsp;{{ work.keywords }}</li>
	{% endif %}
          </ul>
        </div>
        </div>
        {% endfor %}
      </div>

    </article>

  </section>

  <!-- second page -->
  <section class="sheet padding-20mm">
    <article>

      <div id="research">
        <i class="fa fa-institution fa-lg"></i> <p class="item">Main Publications</p>
        <hr>
        <ul>
          {% for research in site.data.my_research %}
        	<span class="arial-rounded">&bull;&emsp;<b>{{ research.title }}</b></span><br>
        	<span class="arial-rounded">{{ research.authors }}</span>
        	<span class="arial-rounded">({{ research.year }})</span>
        	<span class="arial-rounded">{{ research.journal }}</span><br>
            <span class="arial-rounded" style="font-size: 3.7mm; margin-bottom: 10px;"><i>{{ research.comment }}<br></i></span><br>
          {% endfor%}
        </ul>
      </div>

      <div id="education" style="padding-top: 5px;">
        <i class="fa fa-mortar-board fa-lg"></i> <p class="item">Education</p>
        <hr>
        {% for edu in site.data.my_education %}
	{% if edu.project %}
        <div style="height: 36mm;">
        <div style="float: left;height: 36mm;width: 98%;">
        {% else %}
        <div style="height: 13mm;">
        <div style="float: left;height: 13mm;width: 98%;">
        {% endif %}
	  <ul class="cv_item_list">
            <li>&bull;&emsp;<strong>{{ edu.fromto}}</strong>&emsp;</li>
            <li>&emsp;<strong>{{ edu.degree }}</strong>&emsp;</li><br>
            <li>&emsp;&emsp;&emsp;{{ edu.school }} ({{ edu.location}})&emsp;</li><br>
            <li>&emsp;&emsp;&emsp;{{ edu.supervisor }}</li><br>
        {% if edu.project %}
            <li>&emsp;&emsp;&emsp;{{ edu.project }}</li><br>
            <li>&emsp;&emsp;&emsp;{{ edu.tasks }}</li><br>
            <li>&emsp;&emsp;&emsp;{{ edu.qualification }}</li>
        {% endif %}
          </ul>
        </div>
        </div>
        {% endfor %}
      </div>


      <div id="skills" style="padding-top: 15px;">
        <i class="fa fa-cogs fa-lg"></i> <p class="item">Skills and Training</p>
        <hr>
        <span class="arial-rounded"><strong>Computational Techniques:</strong></span><span class="trebuchet">{{ site.data.my_skills.comput }}</span><br>
        <span class="arial-rounded"><strong>Scientific Software:</strong></span><span class="trebuchet">{{ site.data.my_skills.scientific_soft }}</span><br>
        <span class="arial-rounded"><strong>Programming:</strong></span><span class="trebuchet">{{ site.data.my_skills.program_language }}</span><br>
        <span class="arial-rounded"><strong>Experimental Techniques:</strong></span><span class="trebuchet">{{ site.data.my_skills.experim }}</span><br>
      </div>

    </article>
  </section>

  <!-- if two pages are not enough for you, please cut/paste some sections to this page
  <section class="sheet padding-20mm">
    <article>

    </article>
  </section>
  -->
</body>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

</html>
